<nav>
  <div class="logo">Ethan_Pangilinan</div>
  <div class="nav-items">
    <div class="nav-links">
      <a href="index.html">About</a>
      <a href="index.html#projects">CS Projects</a>
      <a href="videography.html">Videography</a>
      <a href="beyond.html">Beyond</a>
      <a href="contact.html">Contact</a>
    </div>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/ethan-pangilinan-aaaaa6251/" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/efanp14" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
  <button class="menu-toggle">
    <i class="fas fa-bars"></i>
  </button>
</nav>